@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body text-text-dark antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading text-text-dark;
}
